<div class="header" id="particles-js">
  <div class="center">
    <h1 class="display-4">CONTACT</h1>
    <p class="lead">Please feel free to contact me for any questions or interesting ideas!<br>Email me at: mehakberi1996 {{'{'}}A T{{'}'}} gmail {{'{'}}D O T{{'}'}} com</p>
    <hr class="my-2">
    <p class="lead">
      <button type="button" class="btn btn-outline-dark">
        <a class="nav-link" href="https://github.com/MehakBeri/">
          <i-bs
            name="github"
            class="text"
            width="3rem"
            height="3rem">
          </i-bs>
        </a>
        GITHUB
      </button>
      <button type="button" class="btn btn-outline-dark">
        <a class="nav-link" href="https://www.linkedin.com/in/mehakberi/">
          <i-bs
            name="linkedin"
            class="text"
            width="3rem"
            height="3rem">
          </i-bs>
        </a>
        LINKEDIN
      </button>
      <button type="button" class="btn btn-outline-dark">
        <a class="nav-link" href="mailto:mehakberi1996@gmail.com">
          <i-bs
            name="envelope-fill"
            class="text"
            width="3rem"
            height="3rem">
          </i-bs>
        </a>
        EMAIL
      </button>
    </p>
  </div>
</div>