<div class="container-fluid" style="margin-top: 100px;">
  <div class="row">
    <div class="col-sm-12">
      <p>Filter by :
      <button type="button" class="btn btn-info" (click)="filter('All')">All</button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="filter('Web App')">Web App</button>&nbsp;
      <button type="button" class="btn btn-warning" (click)="filter('Side Project')">Side Project</button>&nbsp;
      <button type="button" class="btn btn-secondary" (click)="filter('jQuery')">jQuery</button>&nbsp;
      <button type="button" class="btn btn-success" (click)="filter('Data Science')">Data Science</button>&nbsp;
      <button type="button" class="btn btn-dark" (click)="filter('Python')">Python</button>&nbsp;
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" #project>
      <div class="card border-dark mb-3">
        <div class="card-header bg-transparent border-dark">Header 1</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-dark">
          <button type="button" class="btn btn-info" (click)="filter('All')">All</button>&nbsp;
          <button type="button" class="btn btn-primary" (click)="filter('Web App')">Web App</button>&nbsp;
          <button type="button" class="btn btn-warning" (click)="filter('Side Project')">Side Project</button>&nbsp;
        </div>
      </div>
    </div>
    <div class="col-sm-4" #project>
      <div class="card border-dark mb-3">
        <div class="card-header bg-transparent border-dark">Header 2</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-dark">
          <button type="button" class="btn btn-info" (click)="filter('All')">All</button>&nbsp;
          <button type="button" class="btn btn-secondary" (click)="filter('jQuery')">jQuery</button>&nbsp;
          <button type="button" class="btn btn-success" (click)="filter('Data Science')">Data Science</button>&nbsp;
        </div>
      </div>
    </div>
    <div class="col-sm-4" #project>
      <div class="card border-dark mb-3">
        <div class="card-header bg-transparent border-dark">Header 3</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-dark">
          <button type="button" class="btn btn-info" (click)="filter('All')">All</button>&nbsp;
          <button type="button" class="btn btn-success" (click)="filter('Data Science')">Data Science</button>&nbsp;
          <button type="button" class="btn btn-dark" (click)="filter('Python')">Python</button>&nbsp;
        </div>
      </div>
    </div>
    <div class="col-sm-4" #project>
      <div class="card border-dark mb-3">
        <div class="card-header bg-transparent border-dark">Header 4</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-dark">
          <button type="button" class="btn btn-info" (click)="filter('All')">All</button>&nbsp;
          <button type="button" class="btn btn-primary" (click)="filter('Web App')">Web App</button>&nbsp;
          <button type="button" class="btn btn-warning" (click)="filter('Side Project')">Side Project</button>&nbsp;
          <button type="button" class="btn btn-secondary" (click)="filter('jQuery')">jQuery</button>&nbsp;
        </div>
      </div>
    </div>
    <div class="col-sm-4" #project>
      <div class="card border-dark mb-3">
        <div class="card-header bg-transparent border-dark">Header 1</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-dark">
          <button type="button" class="btn btn-info" (click)="filter('All')">All</button>&nbsp;
          <button type="button" class="btn btn-primary" (click)="filter('Web App')">Web App</button>&nbsp;
          <button type="button" class="btn btn-warning" (click)="filter('Side Project')">Side Project</button>&nbsp;
        </div>
      </div>
    </div>
    <div class="col-sm-4" #project>
      <div class="card border-dark mb-3">
        <div class="card-header bg-transparent border-dark">Header 2</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-dark">
          <button type="button" class="btn btn-info" (click)="filter('All')">All</button>&nbsp;
          <button type="button" class="btn btn-secondary" (click)="filter('jQuery')">jQuery</button>&nbsp;
          <button type="button" class="btn btn-success" (click)="filter('Data Science')">Data Science</button>&nbsp;
        </div>
      </div>
    </div>
    <div class="col-sm-4" #project>
      <div class="card border-dark mb-3">
        <div class="card-header bg-transparent border-dark">Header 3</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-dark">
          <button type="button" class="btn btn-info" (click)="filter('All')">All</button>&nbsp;
          <button type="button" class="btn btn-success" (click)="filter('Data Science')">Data Science</button>&nbsp;
          <button type="button" class="btn btn-dark" (click)="filter('Python')">Python</button>&nbsp;
        </div>
      </div>
    </div>
    <div class="col-sm-4" #project>
      <div class="card border-dark mb-3">
        <div class="card-header bg-transparent border-dark">Header 4</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer bg-transparent border-dark">
          <button type="button" class="btn btn-info" (click)="filter('All')">All</button>&nbsp;
          <button type="button" class="btn btn-primary" (click)="filter('Web App')">Web App</button>&nbsp;
          <button type="button" class="btn btn-warning" (click)="filter('Side Project')">Side Project</button>&nbsp;
          <button type="button" class="btn btn-secondary" (click)="filter('jQuery')">jQuery</button>&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>

