<div class="header" id="particles-js">
  <div class="center">
    <h1 class="display-4">MEHAK BERI</h1>
    <p class="lead">Welcome to my homepage.<br>I enjoy telling stories via data & building software. I am currently working as a Software Developer at Apple.</p>
    <hr class="my-2">
    <p class="lead">
      <button type="button" class="btn btn-outline-dark" routerLink="/intro">LEARN MORE</button>
      <button type="button" class="btn btn-outline-dark" routerLink="/contact">CONTACT</button>
    </p>
  </div>
</div>